@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
     --font-title: "Plus Jakarta Sans", sans-serif;
    --font-button: "Manrope", sans-serif;
    --green-100: #99EA48;
    --dark-100: #1F1F1F;
    --dark-text: #333333;
    --gray: #666666;
}


body {
      background-color: var(--dark-100);
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
   
    #inicio-container, #quiz-container {
      max-width: 600px;
      margin: auto;
      text-align: center;
      display: none;
      background-color: white;
      padding: 10rem;
      font-family: var(--font-title);
      border-radius: 12px;
    }

    button {
      padding: 1.3rem;
      margin: 10px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: var(--green-100);
      font-family: var(--font-button);
      font-weight: bold;
    
      color: var(--dark-100);
      transition: all 0.4s ease;
    }

    button:hover {
      background-color: var(--dark-100);
      color: white;
    }

    .alternativa {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 0.8rem;
      background-color: var(--green-100);
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .alternativa:hover {
      background-color: var(--green-100);
    }

    