@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
     --font-title: "Plus Jakarta Sans", sans-serif;
    --font-button: "Manrope", sans-serif;
    --green-100: #99EA48;
    --dark-100: #1F1F1F;
    --dark-text: #333333;
    --gray: #666666;
}

body {
    background-color: var(--dark-100);

}

.content {
    text-align: center;
}

.btn-start {
    text-align: center;
}

#btnIniciarQuiz {
    padding: 1rem;
    background-color: var(--green-100);
    border-radius: 12px;
    font-family: var(--font-button);
    font-weight: bold;
    border: 1px solid var(--green-100);

    transition: all 0.4s ease;

    margin-top: 20%;

}

#btnIniciarQuiz:hover {
    background-color: white;
    border: 1px solid white;
}


.content {
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 6rem;
}

.content button {
    padding: 1rem;
    border-radius: 12px;
    background-color: white;

    border: white;
    transition: all 0.4s ease;

}

.content-pontuacao {
    border: 1px solid white;
    background-color: white;
    border-radius: 12px;
    width: 75%;
    
    padding: 1rem;
    color: var(--dark-100);
    font-family: var(--font-title);
    display: flex;
    flex-direction: column;
}

.content-quantidade span {
   font-size: 1.1rem;
}

.btn-start button:hover {
    background-color: var(--green-100);
    color: var(--dark-100);
}

.pontuacaoFinal {
    text-align: center;
    font-size: 1.1rem;
}

.jogo {
    border: 1px solid var(--green-100);
    background-color: var(--green-100);

    width: 75%;

    border-radius: 12px;
    padding: 1rem;

    color: var(--dark-100);
    font-family: var(--font-title);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.opcoes {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn-submit {
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    
}

.btn-submit button {
    color: var(--dark-text);
    font-family: var(--font-button);
    font-weight: bold;
}

.btn-submit button:hover {
    background-color: var(--dark-100);
    color: white;
}


.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}